/* New signup */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins',sans-serif;
}
body{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background: linear-gradient(135deg, #71b7e6, #9b59b6);
}
.container{
  max-width: 700px;
  width: 100%;
  background-color: #fff;
  padding: 25px 30px;
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.15);
}
.container .title{
  font-size: 25px;
  font-weight: 500;
  position: relative;
}
.container .title::before{
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 30px;
  border-radius: 5px;
  background: linear-gradient(135deg, #71b7e6, #9b59b6);
}
.content form .user-details{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px 0 12px 0;
}
form .user-details .input-box{
  margin-bottom: 15px;
  width: calc(100% / 2 - 20px);
}
form .input-box span.details{
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
}
.user-details .input-box input{
  height: 45px;
  width: 100%;
  outline: none;
  font-size: 16px;
  border-radius: 5px;
  padding-left: 15px;
  border: 1px solid #ccc;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
}
.user-details .input-box input:focus,
.user-details .input-box input:valid{
  border-color: #9b59b6;
}
 form .gender-details .gender-title{
  font-size: 20px;
  font-weight: 500;
 }
 form .category{
   display: flex;
   width: 80%;
   margin: 14px 0 ;
   justify-content: space-between;
 }
 form .category label{
   display: flex;
   align-items: center;
   cursor: pointer;
 }
 form .category label .dot{
  height: 18px;
  width: 18px;
  border-radius: 50%;
  margin-right: 10px;
  background: #d9d9d9;
  border: 5px solid transparent;
  transition: all 0.3s ease;
}
 #dot-1:checked ~ .category label .one,
 #dot-2:checked ~ .category label .two,
 #dot-3:checked ~ .category label .three{
   background: #9b59b6;
   border-color: #d9d9d9;
 }
 form input[type="radio"]{
   display: none;
 }
 form .button{
   height: 45px;
   margin: 35px 0
 }
 form .button input{
   height: 100%;
   width: 100%;
   border-radius: 5px;
   border: none;
   color: #fff;
   font-size: 18px;
   font-weight: 500;
   letter-spacing: 1px;
   cursor: pointer;
   transition: all 0.3s ease;
   background: linear-gradient(135deg, #71b7e6, #9b59b6);
 }
 form .button input:hover{
  /* transform: scale(0.99); */
  background: linear-gradient(-135deg, #71b7e6, #9b59b6);
  }
 @media(max-width: 584px){
 .container{
  max-width: 100%;
}
form .user-details .input-box{
    margin-bottom: 15px;
    width: 100%;
  }
  form .category{
    width: 100%;
  }
  .content form .user-details{
    max-height: 300px;
    overflow-y: scroll;
  }
  .user-details::-webkit-scrollbar{
    width: 5px;
  }
  }
  @media(max-width: 459px){
  .container .content .category{
    flex-direction: column;
  }
}



/* Table */


.table {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.8);
  margin: 0 auto;
  background-color: transparent;
  width: 80%;
  border-radius: 10px;
  overflow: hidden;
}

.table thead {
  background-color: #000;
  color: #fff;
}

.table tbody tr:nth-child(odd) {
  background-color: #EEEEEE;
  color: #000;
}


/* Sidebar */


.sidebar {
  position: fixed;
  width: 200px;
  left: 0;
  height: 100%;
  background-color: #fff;
  transition: all .5s ease;
}

/* Adding picture */
.sidebar header {
  font-size: 28px;
  color: #353535;
  line-height: 70px;
  text-align: center;
  background-color: #fff;
  user-select: none;
  font-family: 'Lato', sans-serif;
}

.sidebar a {
  display: block;
  height: 65px;
  width: 100%;
  color: #353535;
  line-height: 65px;
  padding-left: 30px;
  box-sizing: border-box;
  border-left: 5px solid transparent;
  font-family: 'Lato', sans-serif;
  transition: all .5s ease;
  text-decoration: none;
}

a.active, a:hover {
  border-left: 5px solid var(--accent-color);
  color: #fff;
  background: linear-gradient(to left, var(--accent-color), var(--gradient-color));
}

.sidebar a i {
  font-size: 23px;
  margin-right: 16px;
}

.sidebar a span {
  letter-spacing: 1px;
  text-transform: uppercase;
}

@media (max-width: 860px) {
  .sidebar {
    height: auto;
    width: 35px;
    left: 0;
    margin: 100px 0;
  }
  header, #btn, #cancel {
    display: none;
  }
  span {
    position: absolute;
    margin-left: 23px;
    opacity: 0;
    visibility: hidden;
  }
  .sidebar a {
    height: 60px;
  }
  .sidebar a i {
    margin-left: -10px;
  }
  /* Here */
  a:hover {
    width: 200px;
    background: linear-gradient(135deg, #71b7e6, #9b59b6);
  }
  .sidebar a:hover span {
    opacity: 1;
    visibility: visible;
  }
}

.sidebar > a.active, .sidebar > a:hover:nth-child(even) {
  --accent-color: #52d6f4;
  --gradient-color: #c1b1f7;
}

.sidebar a.active, .sidebar > a:hover:nth-child(odd) {
  --accent-color: #c1b1f7;
  --gradient-color: #a890fe;
}


h2 {
  position: relative;
  text-align: center;
  color: #353535;
  font-size: 60px;
  font-family: 'Lato', sans-serif;
  margin: 0;
  color: #a759f5;
}

p {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  text-align: center;
  font-size: 30px;
  color: #d6adff;
  margin: 0;
}



/* Navbar */


.navbar {
  background-color: transparent;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw; 
  display: flex;
  justify-content: center;
}

.nav-list {
  list-style-type: none;
  text-align: center;
  margin: 0;
  padding: 0;
}

.nav-item {
  display: inline-block;
  margin: 0 20px; 
}

.nav-item a {
  text-decoration: none;
  color: #fff;
  font-size: 1.2em;
  transition: transform 0.3s;
}

.nav-item a:hover {
  transform: scale(1.1);  
}



/* Signin */

.heading {
  text-align: center;
  font-family: 'Your Cursive Font', cursive;
  text-transform: uppercase;
}

.button-container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.login-btn,
.signup-btn {
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
}

.login-btn:hover,
.signup-btn:hover {
  color: blue;
}

.login-btn {
  background-color: #f0f0f0;
}

.signup-btn {
  background-color: #ffcc00;
}

.linkxxx {
  text-decoration: none;
  color: inherit;
}


.divider {
  width: 50%;
  border: none;
  border-top: 3px solid #b0a2a2;
  margin: 20px auto;
}


/* Add Society */
/* Add.css */

/* Container styles */
.container {
  max-width: 600px;
  margin: auto;
  padding: 20px;
}

/* Form styles */
form {
  display: flex;
  flex-direction: column;
}

/* Label styles */
label {
  margin-bottom: 8px;
}

/* Input styles */
input[type="text"],
select,
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

/* Button styles */
button[type="submit"] {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #0056b3;
}

/* Optional: Add additional styles as needed */
